<div>
  <div class="d-flex flex-row mt-2 mb-2">
    <div class="d-inline p-2">
      <img src="assets/icons/characters.png" />
    </div>
    <div class="d-inline p-2">
      <h1>Caracteres</h1>
    </div>
  </div>
  <div class="row gy-5">
    <ng-container *ngFor="let character of characters">
      <div class="col-sm-12 col-md-12 col-lg-6 border bg-light">
        <div class="p-3 mb-5">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div>
                <img [src]="character.thumbnail.path +'.'+character.thumbnail.extension" class="img-rounded"
                  alt="No existe imagen">
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <h3>{{ character.name }}</h3>
              <div>{{ character.description }} </div>
              <div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="mt-5">
                <h4>Related comics</h4>
              </div>
              <div>
                <ng-container *ngIf="character.comics">
                  <ng-container *ngIf="character.comics.items">
                    {{ character.comics.items.length > 0 ? character.comics.items[0].name : '' }}
                    {{ character.comics.items.length > 1 ? '....  and ' + character.comics.items.length + ' more' :''  }}
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="mt-5">
                <button mat-raised-button color="warn" [routerLink]="'character/'+ character.id+ '/comics'">View
                  More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
