.img-comic {
  object-position: right center;
  width: 200px;
  height: 280px;
}

.trash {
  position: absolute;
  margin-left: 34vw;
  margin-top: -15px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .trash {
    position: absolute;
    margin-left: 24vw;
    margin-top: -15px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .trash {
    position: absolute;
    margin-left: 14vw;
    margin-top: -15px;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .trash {
    position: absolute;
    margin-left: 14vw;
    margin-top: -15px;
    cursor: pointer;
  }
}

@media (min-width: 1399px) {
  .trash {
    position: absolute;
    margin-left: 9vw;
    margin-top: -15px;
    cursor: pointer;
  }
}
.favorite-comic{
  margin-left: 30px;
}